/*
* {
	border: 1px solid red;
  }
*/


.category {
	font-weight: bold;
	font-size: 20px;
}
img{
	height:24rem;
	margin-left:7%;
	align-items: left;
	float: left;
}

.section{
	height:400px;
	display: flex;
	justify-content: space-between;
	padding:10px;	
}
h1{
	font-size:3rem;
	margin-left:2%;
}
h3{
	font-family: "arial";
	font-size:3rem;
}
p{
	font-family: "georgia";
	font-size:1.5rem;
}
.text {
	display: inline-block;
	height:400px;
	font-size: 15px;
	padding-left:5%;
	text-align: left;
}
.rectangle {
	width: 40%;
	height: 100px;
	align-items: left;
	display: block;
	justify-content: center;
	align-items: center;
	/*border: 3px solid green;*/
}